body{
    background: #121212;
    color: #FFFFFF;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    margin: 0 0 20px 0;
}

.box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
    background:rgba(255, 255, 255, .1);
    backdrop-filter:  blur(10px);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
    height: auto;
    width: 200px;
    padding: 20px;
}

#generate{
    background: #121212;
    backdrop-filter:opacity(.1);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 5px;
    width: 70%;
    transition: background 200ms, transform 100ms;
}

#generate:hover{
    background: #3a3a3a;
    transform: translateY(-2px);
}

#generate:active{
    transform: translateY(2px);
}


#password-field{
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    padding: 10px;
    border-radius: 10px;
}

#password-field:focus, #generate:focus{
    outline: none;
}